.form{
    border: 2px solid rgb(7, 146, 30);
    padding: 2rem;
    width: 70%;
    margin: 1rem auto;
}
.form input, .form textarea {
    width: 100%;
    margin-bottom: 30px;
}
.form label{
    display:block;
    text-align: center;
    margin-bottom: 15px;
}
